* {
  font-family: "Roboto Light", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.appContainer {
  display: flex;
  overflow: hidden;
}

.componentContainer {
  overflow-y: scroll;
  height: 100vh;
  width: 85vw;
  padding: 25px;
  box-sizing: border-box;
}

/* options for action buttons*/

.buttonDetail,
.buttonUpdate,
.buttonDelete,
.buttonCreate,
.buttonAsign {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonCreate {
  margin-right: 10px;
}

.buttonCancel {
  background: #6e7881;
}

.buttonAsign {
  background-color: #1f618d; /* o algún tono más oscuro que prefieras */
}

.buttonAsign:hover {
  background-color: #154c6f; /* o algún tono más oscuro cuando pasa el mouse */
}


.buttonDetail {
  background-color: #3498db;
}

.buttonDetail:hover {
  background-color: #2d85b0;
}

.buttonUpdate, .buttonCreate {
  background-color: #4caf50;
}

.buttonUpdate:hover,
.buttonCreate:hover {
  background-color: #39923d;
}

.buttonDelete {
  background-color: #c0392b;
}

.buttonDelete:hover {
  background-color: #a53024;
}


label {
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  display: block;
}

input {
  height: 35px;
  display: block;
  width: 100%;
  border: solid;
  font-size: 1rem;
  box-sizing: border-box;
  /*Color de Background*/
  background-color: rgb(255 255 255);

  /*Transicion*/
  transition-duration: 300ms;
  transition-property: color, background-color, border-color,
  text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
  backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /*Border*/
  border-width: 2px;
  border-color: white;
  border-color: rgb(226 232 240);
  border-radius: 0.25rem;

  /*Focus*/
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(22, 160, 133, 0.2);
    --tw-ring-opacity: 1;
    border-color: rgb(71 85 105 / var(--tw-ring-opacity));
  }

  /*PlacerHolder*/
  &::placeholder {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
    font-weight: 400;
  }
}

input[readonly] {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
  cursor: pointer;

  &::placeholder {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
  }
}

select {
  height: 35px;
  display: block;
  width: 100%;
  border: solid;
  font-size: 0.875rem;

  /*Color de Background*/
  background-color: rgb(255 255 255);

  /*Transicion*/
  transition-duration: 300ms;
  transition-property: color, background-color, border-color,
  text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
  backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /*Border*/
  border-width: 1px;
  border-color: white;
  border-color: rgb(226 232 240);
  border-radius: 0.25rem;

  /*Focus*/
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(22, 160, 133, 0.2);
    --tw-ring-opacity: 1;
    border-color: rgb(71 85 105 / var(--tw-ring-opacity));
  }

  /*PlacerHolder*/
  &::placeholder {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
    font-weight: 400;
  }
}

// Estilo para ReadGroupDetails.module.scss

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #002388;
  font-size: 1rem;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th,
  td {
    width: 20%;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th,
  td:last-child {
    text-align: center;
  }

  th {
    background-color: #002388;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  button {
    margin-left: 10px;
  }
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
